@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red:hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.9375rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 3em 2em;
    width: 100%;
}

.cards {
    display: grid;
    gap: 2em;
    margin-top: 3.5em;
}

.cards > div {
    border-radius: 0.5em; 
    box-shadow: 0 1em 1em -0.25em hsl(from color-mix(in hsl, var(--blue) 50%, var(--grey-400)) h s l / 0.2);
    font-size: 0.875em;
    position: relative;
    overflow: hidden;
}

div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.25em;
}

.icon-wrapper {
    height: 12em;
    position: relative;
}

.icon-wrapper::after {
    content: "";
    position: absolute;
    right: 2.5em;
    top: 45%;
    transform: translateY(-50%);
    width: 5em;
    height: 5em;
}

.green .icon-wrapper::after {
    background: url(images/icon-supervisor.svg) no-repeat center/contain;
}

.red .icon-wrapper::after {
    background: url(images/icon-team-builder.svg) no-repeat center/contain;
}

.orange .icon-wrapper::after {
    background: url(images/icon-karma.svg) no-repeat center/contain;
}

.blue .icon-wrapper::after {
    background: url(images/icon-calculator.svg) no-repeat center/contain;
}

.green::before {
    background: var(--cyan);
}

.red::before {
    background: var(--red);
}

.orange::before {
    background: var(--orange);
}

.blue::before {
    background: var(--blue);
}


div .text-wrapper {
    padding: 2.25em 2.5em;
    padding-bottom: 0;
}

div h2 {
    margin-bottom: 0.25em;
}

h1 {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 600;
    font-size: 99%;
}

@media screen and (min-width: 60em) {

    main {
        container-type: inline-size;
        width: clamp(40rem, 85vw, 100vw);
    }

    article {
        font-size: clamp(0.8rem, 1.3cqi, 1.3cqi)
    }

    h1 {
        font-size: 3.25cqi;
    }

    .preamble {
        width: 50%;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        ". red ."
        "green red blue"
        "green orange blue"
        ". orange .";
        width: 100%;
        margin-top: 4em;
    }

    .green {
        grid-column: 1;
        grid-area: green;
    }

    .red {
        grid-column: 2;
        grid-area: red;
    }

    .orange {
        grid-column: 2;
        grid-area: orange;
    }

    .blue {
        grid-column: 3;
        grid-area: blue;
    }

}